* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 1024px;
  height: 52px;
  opacity: 1;
  background: #FFFFFF;
  gap: 24px;
  display: flex;
  margin-left: 40px;
}

header img {
  width: 150px;
  height: 40px;
}

.liste-horizontale {
  margin-top: 10px;
  display: flex;
  list-style: none;
  padding: 0;
  gap: 32px;
}

.liste-horizontale a {
  text-decoration: none;
  color: #0A1222;
  font-size: 15px;
  white-space: nowrap;
}

.liste-horizontale li:first-child a {
  color: #034BFF;
  border-bottom: 2px solid #034BFF;
  padding-bottom: 6px;
}

.rejoindre {
  display: flex;
  background: #034BFF;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 13px 16px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600px;
  white-space: nowrap;
  cursor: pointer;
  margin-left: 370px;
  margin-top: -34px;

}

.hero {
  display: flex;
  justify-content: space-between;
  background: #08111D;
  color: #FFFFFF;
  opacity: 1;

}

.gauche {
  margin-right: 40px;
  flex: 1;
  width: 1024px;
  height: 461px;
  display: grid;
  padding: 40px;
}

.gauche h1 {

  width: 470px;
  height: 91px;
  opacity: 1;
  top: 50px;
  left: 56px;
  font-family: Inter;
  font-weight: 900px;
  font-style: Black;
  font-size: 76px;
  line-height: 120%;
  letter-spacing: 0%;
}

.LIFE {
  color: #034BFF;
}

.gauche h2 {
  margin-top: 80px;
  width: 405px;
  height: 31px;
  opacity: 1;
}

.gauche p {
  margin-top: 20px;
  width: 398px;
  height: 51px;
  opacity: 1;
  top: 256px;
  left: 61px;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0%;
  margin-bottom: 20px;
}

.event {
  width: 176;
  height: 42;
  opacity: 1;
  top: 334px;
  left: 264px;
  border-radius: 5px;
  border-width: 1px;
  border: 1px solid #8EABFF
}

.boutons a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  padding: 14px 24px;
  border-radius: 5px;
  border: 2px solid #FFFFFF;
}

.boutons a:first-child {
  background: #034BFF;
  border-color: #034BFF;
}

.communaute p {
  width: 220px;
  height: 26px;
  opacity: 1;
  top: 403px;
  left: 181px;
  font-family: Inter;
  font-weight: 400px;
  font-style: Regular;
  font-size: 11px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #FFFFFF;
}

.droit {
  flex: 1;
  display: flex;
  margin-left: 100px;
}

.droit img {
  width: 100%;
  height: auto;
  display: block;
  width: 600px;
  height: 500px;
  opacity: 1;
  left: 435px;
  border-radius: 10px;

}

.header-nav {
  width: 50;
  height: 11;
  opacity: 1;
  top: 21px;
  left: 209px;

}

.vague {

  font-family: Inter, arial, sans-serif;
  font-weight: 900px;
  font-style: Black;
  font-size: 66px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #C7F64A;

}

.cta a {
  display: flex;
  color: black;
  background-color: #FFFFFF;
  margin-left: 300px;
  font-family: Inter;
  font-weight: 700px;
  font-style: Bold;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 10px;


}

.campus {
  width: 184;
  height: 42;
  opacity: 1;
  top: 334px;
  left: 61px;
  border-radius: 5px;
  background: #034BFF;
  color: #FFFFFF;

}

.communaute {
  display: flex;
  margin-top: 50px;
}

.iten {
  margin-top: 20px;
  background-color: #B8C9CF;
  color: black;
  border-radius: 360%;
  font-size: 20px;
  padding: 10px 10px;
}

.alphabet {
  display: flex;
}

#letter {
  background-color: #D7C3B6;
}

.communaute>p {
  color: #FFFFFF;
  margin-left: 20px;
  font-size: large;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px 5%;
  background: #ffffff;
  margin-right: 100px;

}

.stat {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icone {
  font-size: 32px;
  color: #1a5cff;
  line-height: 1;
  margin-left: 70px;
  padding: 0;
  width: auto;
  margin-right: 20px;
}

.number {
  font-size: 25px;
  font-weight: 600;
  margin: 0;
  color: #222;
  font-weight: 600px;
}

.mot {
  font-size: 0.9rem;
  color: #0A1222;
  margin: 0;
  font-weight: bold;
}
.stat p{
  color: black;
}